.card {
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: 400px; /* Fixed height */
    object-fit: cover;
    object-position: center;
    padding-top: 15px; /* Padding added to top to prevent image from being too close to the top */
  }
  
  .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .card-body .btn {
    margin-top: auto;
    padding: 10px;
  }
  